NET "adc_bclk_n" TNM_NET = "adc_bclk_n";
TIMESPEC TS_adc_bclk_n = PERIOD "adc_bclk_n" 2 ns HIGH 50 %;
NET "adc_bclk_p" TNM_NET = "adc_bclk_p";
TIMESPEC TS_adc_bclk_p = PERIOD "adc_bclk_p" 2 ns HIGH 50 %;
NET "adc_fclk_n" TNM_NET = "adc_fclk_n";
TIMESPEC TS_adc_fclk_n = PERIOD "adc_fclk_n" 8 ns HIGH 50 %;
NET "adc_fclk_p" TNM_NET = "adc_fclk_p";
TIMESPEC TS_adc_fclk_p = PERIOD "adc_fclk_p" 8 ns HIGH 50 %;

NET "clock_fsm_p" TNM_NET = "clock_fsm_p";
TIMESPEC TS_clock_fsm_p = PERIOD "clock_fsm_p" 5 ns HIGH 50 %;
NET "clock_fsm_n" TNM_NET = "clock_fsm_n";
TIMESPEC TS_clock_fsm_n = PERIOD "clock_fsm_n" 5 ns HIGH 50 %;
NET "clock_ddr_p" TNM_NET = "clock_ddr_p";

TIMESPEC TS_clock_ddr_p = PERIOD "clock_ddr_p" 2.5 ns HIGH 50 %;
NET "clock_ddr_n" TNM_NET = "clock_ddr_n";
TIMESPEC TS_clock_ddr_n = PERIOD "clock_ddr_n" 2.5 ns HIGH 50 %;

#Created by Constraints Editor (xc6slx45-csg484-3) - 2012/04/11
NET "clock_fx3" TNM_NET = clock_fx3;
TIMESPEC TS_clock_fx3 = PERIOD "clock_fx3" 10 ns HIGH 50%;
# vim: ft=cfg
