
#Created by Constraints Editor (xc6slx45-fgg676-2) - 2012/03/04
NET "adc_bclk_n" TNM_NET = adc_bclk_n;
TIMESPEC TS_adc_bclk_n = PERIOD "adc_bclk_n" 2 ns HIGH 50%;
NET "adc_bclk_p" TNM_NET = adc_bclk_p;
TIMESPEC TS_adc_bclk_p = PERIOD "adc_bclk_p" 2 ns HIGH 50%;
NET "adc_fclk_n" TNM_NET = adc_fclk_n;
TIMESPEC TS_adc_fclk_n = PERIOD "adc_fclk_n" 8 ns HIGH 50%;
NET "adc_fclk_p" TNM_NET = adc_fclk_p;
TIMESPEC TS_adc_fclk_p = PERIOD "adc_fclk_p" 8 ns HIGH 50%;
#Created by Constraints Editor (xc6slx45-fgg676-2) - 2012/03/04
OFFSET = IN 0.5 ns VALID 1 ns BEFORE "adc_bclk_n" RISING;
OFFSET = IN 0.5 ns VALID 1 ns BEFORE "adc_bclk_n" FALLING;
OFFSET = IN 0.5 ns VALID 1 ns BEFORE "adc_bclk_p" RISING;
OFFSET = IN 0.5 ns VALID 1 ns BEFORE "adc_bclk_p" FALLING;
OFFSET = IN 2 ns VALID 4 ns BEFORE "adc_fclk_n" RISING;
OFFSET = IN 2 ns VALID 4 ns BEFORE "adc_fclk_n" FALLING;
OFFSET = IN 8 ns VALID 8 ns BEFORE "adc_fclk_p" RISING;
OFFSET = IN 8 ns VALID 8 ns BEFORE "adc_fclk_p" FALLING;
#Created by Constraints Editor (xc6slx45-fgg676-2) - 2012/03/04
TEMPERATURE = 50 C;
VOLTAGE = 1.2 V;
#Created by Constraints Editor (xc6slx45-fgg676-2) - 2012/03/05
NET "clock_fsm_p" TNM_NET = clock_fsm_p;
TIMESPEC TS_clock_fsm_p = PERIOD "clock_fsm_p" 5 ns HIGH 50%;
NET "clock_fsm_n" TNM_NET = clock_fsm_n;
TIMESPEC TS_clock_fsm_n = PERIOD "clock_fsm_n" 5 ns HIGH 50%;
NET "clock_ddr_p" TNM_NET = clock_ddr_p;
TIMESPEC TS_clock_ddr_p = PERIOD "clock_ddr_p" 3 ns HIGH 50%;
NET "clock_ddr_n" TNM_NET = clock_ddr_n;
TIMESPEC TS_clock_ddr_n = PERIOD "clock_ddr_n" 3 ns HIGH 50%;
#Created by Constraints Editor (xc6slx45-fgg676-2) - 2012/03/05
OFFSET = IN 3 ns VALID 3 ns BEFORE "clock_ddr_p" RISING;
OFFSET = IN 3 ns VALID 3 ns BEFORE "clock_ddr_n" RISING;
OFFSET = IN 5 ns VALID 5 ns BEFORE "clock_fsm_n" RISING;
OFFSET = IN 5 ns VALID 5 ns BEFORE "clock_fsm_p" RISING;
