*.swp
.~*
*.o
*.log
*.swo
*.hex
*.map
*.cof

*.schlog
*.symlog
*.cmd_log
*.html
*.xreport
*.wdb
*.exe
tmp/
iseconfig/
_xmsgs/

*.asy
*.gise
*.vho
*.ngc
*.pdf
*.twx
*.lfp
xc6/syn/ipcore_dir/*
!xc6/syn/ipcore_dir/*.xco
!xc6/syn/ipcore_dir/*.xise


