
#Created by Constraints Editor (-) - 2012/03/19
TIMESPEC TS_all = FROM "PADS" TO "PADS" 5 ns;
#Created by Constraints Editor (-) - 2012/03/19
NET "fpga_clk" MAXDELAY = 5 ns;
NET "fpga_clk_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq<0>" MAXDELAY = 5 ns;
NET "fpga_dq<1>" MAXDELAY = 5 ns;
NET "fpga_dq<2>" MAXDELAY = 5 ns;
NET "fpga_dq<3>" MAXDELAY = 5 ns;
NET "fpga_dq<4>" MAXDELAY = 5 ns;
NET "fpga_dq<5>" MAXDELAY = 5 ns;
NET "fpga_dq<6>" MAXDELAY = 5 ns;
NET "fpga_dq<7>" MAXDELAY = 5 ns;
NET "fpga_dq<8>" MAXDELAY = 5 ns;
NET "fpga_dq<9>" MAXDELAY = 5 ns;
NET "fpga_dq<10>" MAXDELAY = 5 ns;
NET "fpga_dq<11>" MAXDELAY = 5 ns;
NET "fpga_dq<12>" MAXDELAY = 5 ns;
NET "fpga_dq<13>" MAXDELAY = 5 ns;
NET "fpga_dq<14>" MAXDELAY = 5 ns;
NET "fpga_dq<15>" MAXDELAY = 5 ns;
NET "fpga_dq<16>" MAXDELAY = 5 ns;
NET "fpga_dq<17>" MAXDELAY = 5 ns;
NET "fpga_dq<18>" MAXDELAY = 5 ns;
NET "fpga_dq<19>" MAXDELAY = 5 ns;
NET "fpga_dq<20>" MAXDELAY = 5 ns;
NET "fpga_dq<21>" MAXDELAY = 5 ns;
NET "fpga_dq<22>" MAXDELAY = 5 ns;
NET "fpga_dq<23>" MAXDELAY = 5 ns;
NET "fpga_dq<24>" MAXDELAY = 5 ns;
NET "fpga_dq<25>" MAXDELAY = 5 ns;
NET "fpga_dq<26>" MAXDELAY = 5 ns;
NET "fpga_dq<27>" MAXDELAY = 5 ns;
NET "fpga_dq<28>" MAXDELAY = 5 ns;
NET "fpga_dq<29>" MAXDELAY = 5 ns;
NET "fpga_dq<30>" MAXDELAY = 5 ns;
NET "fpga_dq<31>" MAXDELAY = 5 ns;
NET "fpga_dq_0_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_1_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_2_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_3_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_4_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_5_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_6_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_7_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_8_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_9_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_10_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_11_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_12_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_13_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_14_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_15_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_16_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_17_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_18_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_19_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_20_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_21_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_22_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_23_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_24_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_25_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_26_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_27_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_28_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_29_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_30_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_31_OBUF" MAXDELAY = 5 ns;
NET "fpga_dq_fx3_dq_not0000" MAXDELAY = 5 ns;
NET "fpga_dq_fx3_dq_not00001" MAXDELAY = 5 ns;
NET "fpga_fifoadr<0>" MAXDELAY = 5 ns;
NET "fpga_fifoadr<1>" MAXDELAY = 5 ns;
NET "fpga_flaga" MAXDELAY = 5 ns;
NET "fpga_flaga_OBUF" MAXDELAY = 5 ns;
NET "fpga_flagb" MAXDELAY = 5 ns;
NET "fpga_flagb_OBUF" MAXDELAY = 5 ns;
NET "fpga_pktend_n" MAXDELAY = 5 ns;
NET "fpga_slcs_n" MAXDELAY = 5 ns;
NET "fpga_sloe_n" MAXDELAY = 5 ns;
NET "fpga_slrd_n" MAXDELAY = 5 ns;
NET "fpga_slwr_n" MAXDELAY = 5 ns;
NET "fx3_clk" MAXDELAY = 5 ns;
NET "fx3_dq<0>" MAXDELAY = 5 ns;
NET "fx3_dq<1>" MAXDELAY = 5 ns;
NET "fx3_dq<2>" MAXDELAY = 5 ns;
NET "fx3_dq<3>" MAXDELAY = 5 ns;
NET "fx3_dq<4>" MAXDELAY = 5 ns;
NET "fx3_dq<5>" MAXDELAY = 5 ns;
NET "fx3_dq<6>" MAXDELAY = 5 ns;
NET "fx3_dq<7>" MAXDELAY = 5 ns;
NET "fx3_dq<8>" MAXDELAY = 5 ns;
NET "fx3_dq<9>" MAXDELAY = 5 ns;
NET "fx3_dq<10>" MAXDELAY = 5 ns;
NET "fx3_dq<11>" MAXDELAY = 5 ns;
NET "fx3_dq<12>" MAXDELAY = 5 ns;
NET "fx3_dq<13>" MAXDELAY = 5 ns;
NET "fx3_dq<14>" MAXDELAY = 5 ns;
NET "fx3_dq<15>" MAXDELAY = 5 ns;
NET "fx3_dq<16>" MAXDELAY = 5 ns;
NET "fx3_dq<17>" MAXDELAY = 5 ns;
NET "fx3_dq<18>" MAXDELAY = 5 ns;
NET "fx3_dq<19>" MAXDELAY = 5 ns;
NET "fx3_dq<20>" MAXDELAY = 5 ns;
NET "fx3_dq<21>" MAXDELAY = 5 ns;
NET "fx3_dq<22>" MAXDELAY = 5 ns;
NET "fx3_dq<23>" MAXDELAY = 5 ns;
NET "fx3_dq<24>" MAXDELAY = 5 ns;
NET "fx3_dq<25>" MAXDELAY = 5 ns;
NET "fx3_dq<26>" MAXDELAY = 5 ns;
NET "fx3_dq<27>" MAXDELAY = 5 ns;
NET "fx3_dq<28>" MAXDELAY = 5 ns;
NET "fx3_dq<29>" MAXDELAY = 5 ns;
NET "fx3_dq<30>" MAXDELAY = 5 ns;
NET "fx3_dq<31>" MAXDELAY = 5 ns;
NET "fx3_fifoadr<0>" MAXDELAY = 5 ns;
NET "fx3_fifoadr<1>" MAXDELAY = 5 ns;
NET "fx3_fifoadr_0_OBUF" MAXDELAY = 5 ns;
NET "fx3_fifoadr_1_OBUF" MAXDELAY = 5 ns;
NET "fx3_flaga" MAXDELAY = 5 ns;
NET "fx3_flagb" MAXDELAY = 5 ns;
NET "fx3_pktend_n" MAXDELAY = 5 ns;
NET "fx3_pktend_n_OBUF" MAXDELAY = 5 ns;
NET "fx3_slcs_n" MAXDELAY = 5 ns;
NET "fx3_slcs_n_OBUF" MAXDELAY = 5 ns;
NET "fx3_sloe_n" MAXDELAY = 5 ns;
NET "fx3_sloe_n_OBUF" MAXDELAY = 5 ns;
NET "fx3_slrd_n" MAXDELAY = 5 ns;
NET "fx3_slrd_n_OBUF" MAXDELAY = 5 ns;
NET "fx3_slwr_n" MAXDELAY = 5 ns;
NET "fx3_slwr_n_OBUF" MAXDELAY = 5 ns;
