

NET "MCLK" LOC = P124;


NET "ADCCLK" LOC = P32;
NET "ADCD0[0]" LOC = P20;
NET "ADCD0[1]" LOC = P19;
NET "ADCD0[2]" LOC = P18;
NET "ADCD0[3]" LOC = P16;
NET "ADCD0[4]" LOC = P15;
NET "ADCD0[5]" LOC = P13;
NET "ADCD0[6]" LOC = P12;
NET "ADCD0[7]" LOC = P11;
NET "ADCD1[0]" LOC = P21;
NET "ADCD1[1]" LOC = P24;
NET "ADCD1[2]" LOC = P25;
NET "ADCD1[3]" LOC = P27;
NET "ADCD1[4]" LOC = P28;
NET "ADCD1[5]" LOC = P29;
NET "ADCD1[6]" LOC = P33;
NET "ADCD1[7]" LOC = P35;
NET "ADCOE" LOC = P31;
NET "CYCLK" LOC = P8;
NET "CYFD[0]" LOC = P143;
NET "CYFD[1]" LOC = P132;
NET "CYFD[2]" LOC = P142;
NET "CYFD[3]" LOC = P134;
NET "CYFD[4]" LOC = P141;
NET "CYFD[5]" LOC = P135;
NET "CYFD[6]" LOC = P139;
NET "CYFD[7]" LOC = P138;
NET "CYFD[8]" LOC = P114;
NET "CYFD[9]" LOC = P125;
NET "CYFD[10]" LOC = P113;
NET "CYFD[11]" LOC = P126;
NET "CYFD[12]" LOC = P112;
NET "CYFD[13]" LOC = P127;
NET "CYFD[14]" LOC = P111;
NET "CYFD[15]" LOC = P129;
NET "CYFIFOADDR[0]" LOC = P116;
NET "CYFIFOADDR[1]" LOC = P120;
NET "CYFLAGA" LOC = P140;
NET "CYFLAGB" LOC = P131;
NET "CYFLAGC" LOC = P123;
NET "CYPKTEND" LOC = P115;
NET "CYSLOE" LOC = P117;
NET "CYSLRD" LOC = P110;
NET "CYSLWR" LOC = P130;
NET "SINA" LOC = P5;
NET "SINB" LOC = P3;
NET "SOUTA" LOC = P6;
NET "SOUTB" LOC = P4;


NET "CYFD[0]" IOSTANDARD = LVCMOS33;
NET "CYFD[1]" IOSTANDARD = LVCMOS33;
NET "CYFD[2]" IOSTANDARD = LVCMOS33;
NET "CYFD[3]" IOSTANDARD = LVCMOS33;
NET "CYFD[4]" IOSTANDARD = LVCMOS33;
NET "CYFD[5]" IOSTANDARD = LVCMOS33;
NET "CYFD[6]" IOSTANDARD = LVCMOS33;
NET "CYFD[7]" IOSTANDARD = LVCMOS33;
NET "CYFD[8]" IOSTANDARD = LVCMOS33;
NET "CYFD[9]" IOSTANDARD = LVCMOS33;
NET "CYFD[10]" IOSTANDARD = LVCMOS33;
NET "CYFD[11]" IOSTANDARD = LVCMOS33;
NET "CYFD[12]" IOSTANDARD = LVCMOS33;
NET "CYFD[13]" IOSTANDARD = LVCMOS33;
NET "CYFD[14]" IOSTANDARD = LVCMOS33;
NET "CYFD[15]" IOSTANDARD = LVCMOS33;
NET "CYFIFOADDR[0]" IOSTANDARD = LVCMOS33;
NET "CYFIFOADDR[1]" IOSTANDARD = LVCMOS33;
NET "CYFLAGA" IOSTANDARD = LVCMOS33;
NET "CYFLAGB" IOSTANDARD = LVCMOS33;
NET "CYFLAGC" IOSTANDARD = LVCMOS33;
NET "CYPKTEND" IOSTANDARD = LVCMOS33;
NET "CYSLOE" IOSTANDARD = LVCMOS33;
NET "CYSLRD" IOSTANDARD = LVCMOS33;
NET "CYSLWR" IOSTANDARD = LVCMOS33;
NET "MCLK" IOSTANDARD = LVCMOS33;

# PlanAhead Generated IO constraints 
NET "ADCCLK" IOSTANDARD = LVCMOS33;
NET "ADCD0[0]" IOSTANDARD = LVCMOS33;
NET "ADCD0[1]" IOSTANDARD = LVCMOS33;
NET "ADCD0[2]" IOSTANDARD = LVCMOS33;
NET "ADCD0[3]" IOSTANDARD = LVCMOS33;
NET "ADCD0[4]" IOSTANDARD = LVCMOS33;
NET "ADCD0[5]" IOSTANDARD = LVCMOS33;
NET "ADCD0[6]" IOSTANDARD = LVCMOS33;
NET "ADCD0[7]" IOSTANDARD = LVCMOS33;
NET "ADCD1[0]" IOSTANDARD = LVCMOS33;
NET "ADCD1[1]" IOSTANDARD = LVCMOS33;
NET "ADCD1[2]" IOSTANDARD = LVCMOS33;
NET "ADCD1[3]" IOSTANDARD = LVCMOS33;
NET "ADCD1[4]" IOSTANDARD = LVCMOS33;
NET "ADCD1[5]" IOSTANDARD = LVCMOS33;
NET "ADCD1[6]" IOSTANDARD = LVCMOS33;
NET "ADCD1[7]" IOSTANDARD = LVCMOS33;
NET "ADCOE" IOSTANDARD = LVCMOS33;
NET "CYCLK" IOSTANDARD = LVCMOS33;
NET "SINA" IOSTANDARD = LVCMOS33;
NET "SINB" IOSTANDARD = LVCMOS33;
NET "SOUTA" IOSTANDARD = LVCMOS33;
NET "SOUTB" IOSTANDARD = LVCMOS33;
NET "ADCCLK" SLEW = FAST;
NET "ADCD0[0]" SLEW = FAST;
NET "ADCD0[1]" SLEW = FAST;
NET "ADCD0[2]" SLEW = FAST;
NET "ADCD0[3]" SLEW = FAST;
NET "ADCD0[4]" SLEW = FAST;
NET "ADCD0[5]" SLEW = FAST;
NET "ADCD0[6]" SLEW = FAST;
NET "ADCD0[7]" SLEW = FAST;
NET "ADCD1[0]" SLEW = FAST;
NET "ADCD1[1]" SLEW = FAST;
NET "ADCD1[2]" SLEW = FAST;
NET "ADCD1[3]" SLEW = FAST;
NET "ADCD1[4]" SLEW = FAST;
NET "ADCD1[5]" SLEW = FAST;
NET "ADCD1[6]" SLEW = FAST;
NET "ADCD1[7]" SLEW = FAST;
NET "ADCOE" SLEW = FAST;

#Created by Constraints Editor (xc3s50an-tqg144-4) - 2011/03/21
INST "CYCLK" TNM = CYPRESS;
NET "CYFLAGB" TNM_NET = CYFLAGB;
TIMEGRP "CYPRESS" OFFSET = OUT 22.5 ns AFTER "CYFLAGB" REFERENCE_PIN "CYCLK";
NET "MCLK" TNM_NET = MCLK;
TIMESPEC TS_MCLK = PERIOD "MCLK" 33.3333 MHz HIGH 50%;
OFFSET = IN 30 ns VALID 30 ns BEFORE "MCLK" RISING;

#Force out of clock route
NET "CYFLAGB" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CYFLAGC" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CYCLK" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "inst_dcm0/DCM_SP_INST.CLKFX" CLOCK_DEDICATED_ROUTE = FALSE; 

#Force out of IOB
INST "inst_cypress/CY_SLOE" IOB = FALSE;
INST "inst_cypress/CY_SLWR" IOB = FALSE;
