#MCLK
NET "MCLK" LOC = P124;
NET "MCLK" IOSTANDARD = LVCMOS33;

#ADC
NET "ADCCLK" LOC = P32;
NET "ADCDA[0]" LOC = P20;
NET "ADCDA[1]" LOC = P19;
NET "ADCDA[2]" LOC = P18;
NET "ADCDA[3]" LOC = P16;
NET "ADCDA[4]" LOC = P15;
NET "ADCDA[5]" LOC = P13;
NET "ADCDA[6]" LOC = P12;
NET "ADCDA[7]" LOC = P11;
NET "ADCDB[0]" LOC = P21;
NET "ADCDB[1]" LOC = P24;
NET "ADCDB[2]" LOC = P25;
NET "ADCDB[3]" LOC = P27;
NET "ADCDB[4]" LOC = P28;
NET "ADCDB[5]" LOC = P29;
NET "ADCDB[6]" LOC = P33;
NET "ADCDB[7]" LOC = P35;
NET "ADCOE" LOC = P31;

NET "ADCCLK" IOSTANDARD = LVCMOS33;
NET "ADCDA[0]" IOSTANDARD = LVCMOS33;
NET "ADCDA[1]" IOSTANDARD = LVCMOS33;
NET "ADCDA[2]" IOSTANDARD = LVCMOS33;
NET "ADCDA[3]" IOSTANDARD = LVCMOS33;
NET "ADCDA[4]" IOSTANDARD = LVCMOS33;
NET "ADCDA[5]" IOSTANDARD = LVCMOS33;
NET "ADCDA[6]" IOSTANDARD = LVCMOS33;
NET "ADCDA[7]" IOSTANDARD = LVCMOS33;
NET "ADCDB[0]" IOSTANDARD = LVCMOS33;
NET "ADCDB[1]" IOSTANDARD = LVCMOS33;
NET "ADCDB[2]" IOSTANDARD = LVCMOS33;
NET "ADCDB[3]" IOSTANDARD = LVCMOS33;
NET "ADCDB[4]" IOSTANDARD = LVCMOS33;
NET "ADCDB[5]" IOSTANDARD = LVCMOS33;
NET "ADCDB[6]" IOSTANDARD = LVCMOS33;
NET "ADCDB[7]" IOSTANDARD = LVCMOS33;
NET "ADCOE" IOSTANDARD = LVCMOS33;

NET "ADCCLK" SLEW = FAST;
NET "ADCDA[0]" SLEW = FAST;
NET "ADCDA[1]" SLEW = FAST;
NET "ADCDA[2]" SLEW = FAST;
NET "ADCDA[3]" SLEW = FAST;
NET "ADCDA[4]" SLEW = FAST;
NET "ADCDA[5]" SLEW = FAST;
NET "ADCDA[6]" SLEW = FAST;
NET "ADCDA[7]" SLEW = FAST;
NET "ADCDB[0]" SLEW = FAST;
NET "ADCDB[1]" SLEW = FAST;
NET "ADCDB[2]" SLEW = FAST;
NET "ADCDB[3]" SLEW = FAST;
NET "ADCDB[4]" SLEW = FAST;
NET "ADCDB[5]" SLEW = FAST;
NET "ADCDB[6]" SLEW = FAST;
NET "ADCDB[7]" SLEW = FAST;
NET "ADCOE" SLEW = FAST;

#FX2 interface
NET "CYIFCLK" LOC = P8;
NET "CYFD[0]" LOC = P143;
NET "CYFD[1]" LOC = P132;
NET "CYFD[2]" LOC = P142;
NET "CYFD[3]" LOC = P134;
NET "CYFD[4]" LOC = P141;
NET "CYFD[5]" LOC = P135;
NET "CYFD[6]" LOC = P139;
NET "CYFD[7]" LOC = P138;
NET "CYFD[8]" LOC = P114;
NET "CYFD[9]" LOC = P125;
NET "CYFD[10]" LOC = P113;
NET "CYFD[11]" LOC = P126;
NET "CYFD[12]" LOC = P112;
NET "CYFD[13]" LOC = P127;
NET "CYFD[14]" LOC = P111;
NET "CYFD[15]" LOC = P129;
NET "CYFIFOADR[0]" LOC = P116;
NET "CYFIFOADR[1]" LOC = P120;
NET "CYFLAGA" LOC = P140;
NET "CYFLAGB" LOC = P131;
NET "CYFLAGC" LOC = P123;
NET "CYPKTEND" LOC = P115;
NET "CYSLOE" LOC = P117;
NET "CYSLRD" LOC = P110;
NET "CYSLWR" LOC = P130;

NET "CYIFCLK" IOSTANDARD = LVCMOS33;
NET "CYFD[0]" IOSTANDARD = LVCMOS33;
NET "CYFD[1]" IOSTANDARD = LVCMOS33;
NET "CYFD[2]" IOSTANDARD = LVCMOS33;
NET "CYFD[3]" IOSTANDARD = LVCMOS33;
NET "CYFD[4]" IOSTANDARD = LVCMOS33;
NET "CYFD[5]" IOSTANDARD = LVCMOS33;
NET "CYFD[6]" IOSTANDARD = LVCMOS33;
NET "CYFD[7]" IOSTANDARD = LVCMOS33;
NET "CYFD[8]" IOSTANDARD = LVCMOS33;
NET "CYFD[9]" IOSTANDARD = LVCMOS33;
NET "CYFD[10]" IOSTANDARD = LVCMOS33;
NET "CYFD[11]" IOSTANDARD = LVCMOS33;
NET "CYFD[12]" IOSTANDARD = LVCMOS33;
NET "CYFD[13]" IOSTANDARD = LVCMOS33;
NET "CYFD[14]" IOSTANDARD = LVCMOS33;
NET "CYFD[15]" IOSTANDARD = LVCMOS33;
NET "CYFIFOADR[0]" IOSTANDARD = LVCMOS33;
NET "CYFIFOADR[1]" IOSTANDARD = LVCMOS33;
NET "CYFLAGA" IOSTANDARD = LVCMOS33;
NET "CYFLAGB" IOSTANDARD = LVCMOS33;
NET "CYFLAGC" IOSTANDARD = LVCMOS33;
NET "CYPKTEND" IOSTANDARD = LVCMOS33;
NET "CYSLOE" IOSTANDARD = LVCMOS33;
NET "CYSLRD" IOSTANDARD = LVCMOS33;
NET "CYSLWR" IOSTANDARD = LVCMOS33;

NET "CYIFCLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CYFLAGA" CLOCK_DEDICATED_ROUTE = FALSE;

#UART Interface
NET "RXA" LOC = P6;
NET "RXB" LOC = P4;
NET "TXA" LOC = P5;
NET "TXB" LOC = P3;

NET "RXA" IOSTANDARD = LVCMOS33;
NET "RXB" IOSTANDARD = LVCMOS33;
NET "TXA" IOSTANDARD = LVCMOS33;
NET "TXB" IOSTANDARD = LVCMOS33;

NET "RXA" CLOCK_DEDICATED_ROUTE = FALSE;
NET "RXB" CLOCK_DEDICATED_ROUTE = FALSE;

PIN "Inst_maindcm/DCM_SP_INST.CLKFX" CLOCK_DEDICATED_ROUTE = FALSE;

#DDR Interface specified in ipcore_dir/ddrbuffer/user_design/par/ddrbuffer.ucf

